@import "variables.less";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.scene {
  position: absolute;
  display: inline-block;
  transition: all 2s ease;
  border-radius: 20px;
  border: double @sceneBorderWidth black;

  background: #fff;

  width: @gameWidth;
  height: @gameHeight;

  //   overflow: hidden;

  &.active {
    transform: none;
  }

  .footer {
    width: 100%;
    height: @footerHeight;
    background: #ccc;
    bottom: 0px;
    position: absolute;
  }

  .avatar {
    position: absolute;
    bottom: 200px;
    right: 30px;
  }
}

img {
  width: 200px;
  height: 200px;
}

img.colour-drop {
  width: @numberWidth;
  height: @numberHeight;
}

.nav-scene {
  margin: 100px auto 0px auto;
  position: relative;
  display: block;
  width: @gameWidth;
  height: @gameHeight;
}

.inventory {
  width: 50%;
  top: 100px;
  position: absolute;

  left: 25%;
  font-size: 26px;
  height: 100px;
  z-index: 99;
  background: white;
  border: solid 4px black;
}
.variable {
  margin: 10px;
  text-align: center;
  display: inline-block;
}
.number {
  border: solid 1px black;
  background-color: white;
  line-height: @numberHeight;

  width: @numberWidth;
  height: @numberHeight;
}

.colour {
  width: @numberWidth;
  height: @numberHeight;
  background-image: url("../img/colourDrop.png");
  background-size: contain;
}
