@import "variables.less";

.App {
  height: calc(@gameHeight ~"+ 24px");
  width: calc(@gameWidth ~"+ 24px");
  margin: 100px auto 20px auto;
  overflow: hidden;
  position: relative;
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
  }
  h3 {
    margin: 12px 0 12px 0;
    font-weight: 20px;
  }
}

em {
  font-weight: bold;
}

.text-box {
  opacity: 0; //animates in to active scenes
  transition: opacity 1s 0.7s;
  position: absolute;
  display: block;
  border: solid 3px black;
  border-radius: 10px;
  padding: 16px;

  h2 {
    margin-top: 0px;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: ~"calc(100% - 38px)";
    width: 0;
    height: 0;
    border: 41px solid transparent;
    border-left-color: black;
    border-right: 0;
    border-bottom: 0;
    margin-right: -35px;
  }
}

img {
  width: 200px;
  height: 200px;
}

img.square {
  transition: all 1s 1.6s ease;
}
