@import "variables.less";

.dial-arrow {
  display: inline-block;
  height: @dialHeight;
  width: 40px;
  vertical-align: top;
  text-align: center;
  line-height: @dialHeight;
}
.dial-container {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 5px;
}

.dial {
  display: inline-block;
  width: 110px;
  height: @dialHeight;
  perspective: 1000px;

  .face {
    margin-left: 25px;
    transition: transform 0.5s;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: @dialHeight;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: @dialHeight;
    // border: solid 1px black;
    background: black;
  }

  .face-current {
    transform: none;
    z-index: 50;
  }

  .face-prev {
    z-index: 45;
    // transform: rotate3d(0, 1, 0, 30deg);
    transform: translateX(-45px) rotateY(-55deg);
  }
  .face-next {
    z-index: 45;
    transform: translateX(45px) rotateY(55deg);
  }
  .face-far-left {
    z-index: 40;
    transform: translateX(-62px) rotateY(-85deg);
  }
  .face-far-right {
    z-index: 40;
    transform: translateX(62px) rotateY(85deg);
  }

  .hidden {
    display: none;
  }
}
