@import "variables.less";

.pillar-region {
  bottom: @footerHeight;
  position: absolute;

  &:nth-of-type(1) {
    left: 20px;
  }
  &:nth-of-type(2) {
    left: calc(@pillarWidth ~"+ 20px");
  }
  &:nth-of-type(3) {
    left: calc(@pillarWidth * ~"2 + 20px");
  }

  img {
    bottom: 0px;
    position: absolute;
    z-index: 5;
  }
  .button {
    text-align: center;
    width: 100px;
    left: 50px;
    bottom: 195px;
    position: absolute;
    z-index: 1;
    border: solid 1px black;
    border-radius: 4px;
    background: #ddd;
    transition: bottom 0.7s, background-color 0.2s;

    h2 {
      margin: 0;
      font-size: 22px;
    }
    &.pressed {
      bottom: 155px;
      pointer-events: none;
    }
    &.fail-pressed {
      bottom: 190px;
    }
  }

  .param-region {
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 40px;
    height: calc(@pillarHeight ~"- 20px");
  }
  .param-container {
    margin: 2px;
    display: block;
    width: @centralPillarWidth;
    height: calc(@numberHeight ~" + 6px");
    border: solid 1px #666;
    position: relative;
    background: #999;

    .label {
      margin: 2px;
      position: absolute;
      z-index: 15;
      line-height: @numberHeight;
      height: 100%;
      width: 50%;
      display: inline-block;
      text-align: center;
      h3 {
        margin: 0;
      }
    }
    .parameter {
      margin: 2px;
      background-color: #333333;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      z-index: 20;
      right: 0px;
      transition: box-shadow 0.2s;
      &.colour,
      .colour {
        background-image: url("../img/colourDropDark.png");
      }

      &.missing {
        border-color: #c53c3c;
        box-shadow: inset 0 0 0 2px #c53c3c;
      }

      .param-hitbox {
        position: absolute;
        width: 200%;
        height: 200%;
        left: -50%;
        top: -50%;
      }
    }

    .variable {
      margin: 0;
      border: none;
    }
  }
}
