.nav.active {
  //Scene 1
  .scene:nth-child(1) {
    .text-box {
      width: 50%;
      top: 17%;
      left: 15%;
      border-color: aquamarine;
      background: aquamarine;
      &:after {
        border-left-color: aquamarine;
      }
      em {
        color: rgb(151, 21, 21);
        font-weight: bold;
      }
    }
  }

  //Scene 2
  .scene:nth-child(2) {
    .text-box {
      border-color: deeppink;
      background: deeppink;
      &:after {
        border-left-color: deeppink;
      }

      &.d1 {
        width: 40%;
        bottom: 43%;
        left: 50%;
        &:after {
          top: unset;
          bottom: 0;
          left: 67%;
          width: 0;
          height: 0;
          border: 20px solid transparent;
          border-top-color: deeppink;
          border-bottom: 0;
          margin-left: -20px;
          margin-bottom: -20px;
        }
      }

      &.d2 {
        transition: left 1s, top 1s, opacity 1s 2.3s;
        width: 50%;
        &.size1 {
          top: 28%;
          left: 10%;
        }
        &.size2 {
          top: 27%;
          left: 9%;
        }
        &.size3 {
          top: 25%;
          left: 8%;
        }
        &.size4 {
          top: 22%;
          left: 7%;
        }
        &.size5 {
          top: 20%;
          left: 6%;
        }
        &.size6 {
          top: 16%;
          left: 5%;
        }
        &.size7 {
          top: 13%;
          left: 4%;
        }
        &.size8 {
          left: 3%;
          top: 10%;
        }
        &.size9 {
          top: 10%;
          left: 2%;
        }
      }
    }
  } // END SCENE 2

  .scene:nth-child(3) {
    .text-box {
      border-color: yellow;
      background: yellow;
      &:after {
        border-left-color: yellow;
      }

      &.d1 {
        left: 19%;
        top: 12%;
        width: 50%;
        em {
          color: purple;
        }
      }
      &.d2 {
        width: 50%;
        left: 19%;
        bottom: 71%;
      }
      &.d3 {
        width: 35%;
        left: 35%;
        bottom: 71%;
      }
    }
  } //END SCENE 3
}
