.scene {
  display: block;
  transition: all 2s ease;
  background: #fff;
  width: 1200px;
  height: 800px;
  border-radius: 20px;
  border: double 12px black;
  position: absolute;
  overflow: hidden;
}
img {
  width: 200px;
  height: 200px;
}
.inventory {
  width: 50%;
  top: 0;
  position: absolute;
  left: 25%;
  font-size: 26px;
  height: 100px;
  z-index: 99;
}
