.scene {
  position: absolute;
  display: inline-block;
  transition: all 2s ease;
  border-radius: 20px;
  border: double 12px black;
  background: #fff;
  width: 1200px;
  height: 800px;
}
.scene.active {
  transform: none;
}
img {
  width: 200px;
  height: 200px;
}
.nav-scene {
  margin: 100px auto 0px auto;
  position: relative;
  display: block;
  width: 1200px;
  height: 800px;
}
.inventory {
  width: 50%;
  top: 100px;
  position: absolute;
  left: 25%;
  font-size: 26px;
  height: 100px;
  z-index: 99;
  border: solid 4px black;
}
.inventory .variable {
  background: red;
  width: 40px;
  display: inline-block;
}
.parameter {
  width: 50px;
  height: 50px;
  background: blue;
}
.scene.nav-scene .scene {
  cursor: pointer;
}
.scene.nav-scene.c1 .scene {
  transform: scale(0.5);
  transform-origin: 50% 50%;
}
.scene.nav-scene.c2 .scene {
  transform: scale(0.4);
}
.scene.nav-scene.c2 .scene:nth-child(1) {
  transform-origin: 13% 50%;
}
.scene.nav-scene.c2 .scene:nth-child(2) {
  transform-origin: 87% 50%;
}
.scene.nav-scene.c3 .scene {
  transform: scale(0.3);
}
.scene.nav-scene.c3 .scene.S00 {
  transform-origin: 13% 20%;
}
.scene.nav-scene.c3 .scene.S01 {
  transform-origin: 87% 20%;
}
.scene.nav-scene.c3 .scene.S02 {
  transform-origin: 50% 75%;
}
.scene.nav-scene.c4 .scene,
.scene.nav-scene.c5 .scene {
  transform: scale(0.25);
}
.scene.nav-scene.c4 .scene.S00,
.scene.nav-scene.c5 .scene.S00 {
  transform-origin: 25% 13%;
}
.scene.nav-scene.c4 .scene.S01,
.scene.nav-scene.c5 .scene.S01 {
  transform-origin: 75% 13%;
}
.scene.nav-scene.c4 .scene.S02,
.scene.nav-scene.c5 .scene.S02 {
  transform-origin: 10% 50%;
}
.scene.nav-scene.c4 .scene.S03,
.scene.nav-scene.c5 .scene.S03 {
  transform-origin: 50% 50%;
}
.scene.nav-scene.c4 .scene.S04,
.scene.nav-scene.c5 .scene.S04 {
  transform-origin: 90% 50%;
}
